* {
    margin: 5;
    padding: 5;
    box-sizing: border-box;
  }
  
  /* Basic styles for navigation */
  nav ul {
    list-style-type: none;
    text-align: right;
    height: 10vh;
    padding: 2em;
  }
  
  nav ul li {
    display: inline;
    font-size: x-large;
    margin: 40px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
  }
  nav ul li a:hover{
    color:darkmagenta;
  }

  .logo {
    margin: 10;
    padding: 10;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: #f4f4f4;
    min-width: 100px;
    max-width: 200px;
    min-height: 100px;
    max-height: 200px;
}

.footer{
  height: 40px;
  margin: 9px;
  text-align: center;
  padding: 1px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('Images/aboutBackground.jpg'); 
    background-size: cover;
    background-position: center;
    font-size: large;
  }
  
.image-container{
    width: 600px;
    height: 200px;
}